{% extends "base.html" %}
{% block title %}Effacer un Paiement{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Effacer Définitif un Paiement</h2>
            <form action="" method="POST" novalidate>
                {{ form_delete.hidden_tag() }}
                <table class="table table-bordered table-sm">
                    {% if data_paiement_delete %}
                    <thead>
                        <tr class="btn-user">
                            <th>Id Paiement</th>
                            <th>Id Inscrire Cours</th>
                            <th>Montant principal</th>
                            <th>Rabais</th>
                            <th>Montant payé</th>
                            <th>Montant restant</th>
                            <th>Méthode Payement</th>
                            <th>Statut</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="btn-user1">
                            <td><h6>{{ data_paiement_delete.ID_payement }}</h6></td>
                            <td><h6>{{ data_paiement_delete.FK_Inscrirecours }}</h6></td>
                            <td><h6>{{ data_paiement_delete.Montant_principal }}</h6></td>
                            <td><h6>{{ data_paiement_delete.Rabais }}</h6></td>
                            <td><h6>{{ data_paiement_delete.Montant_paye }}</h6></td>
                            <td><h6>{{ data_paiement_delete.Montant_restant }}</h6></td>
                            <td><h6>{{ data_paiement_delete.Mode_paiement }}</h6></td>
                            <td><h6>{{ data_paiement_delete.Statut }}</h6></td>
                            <td><h6>{{ data_paiement_delete.Description_Rabais }}</h6></td>
                        </tr>
                    </tbody>
                    {% else %}
                    <tbody>
                        <tr><td colspan="9">Aucune information disponible.</td></tr>
                    </tbody>
                    {% endif %}
                </table>
                {% if associations %}
                <h4>Ce Paiement est associé aux éléments suivants</h4>
                <div class="p-3">
                    <table class="table-free">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Cours Inscrit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for assoc in associations %}
                            <tr>
                                <td>{{ assoc.Nom }}</td>
                                <td>{{ assoc.Prenom }}</td>
                                <td>{{ assoc.Titre }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <h4>Ce Paiement n'est associé à aucun élément.</h4>
                {% endif %}
                <div class="form-group">
                    {{ form_delete.submit_btn_confirmation(class="btn btn-info") }}
                    {% if btn_submit_del %}
                    {{ form_delete.submit_btn_del(class="btn btn-danger") }}
                    {% endif %}
                    {{ form_delete.submit_btn_annuler(class="btn btn-warning") }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
