{% extends "base.html" %}
{% block title %} Modifier L'Annulation du membre {% endblock %}
{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Modifier L'Annulation du membre</h2>
            <form action="" method="POST" novalidate>
                {{ form_update.hidden_tag() }}
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th colspan="2" class="text-center">Informations de l'étudiant</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Nom Prénom</th>
                            <td>{{ form_update.personne_wtf(class="control") }}</td>
                        </tr>
                        <tr>
                            <th>Titre Cours</th>
                            <td>
                                {{ form_update.fk_inscrirecours_display(class="control") }}
                                {{ form_update.fk_inscrirecours_hidden }}
                            </td>
                        </tr>
                        <tr>
                            <th>{{ form_update.raison_updatewtf.label }}</th>
                            <td>{{ form_update.raison_updatewtf(class="control") }}</td>
                        </tr>
                    </tbody>
                </table>
                {% for error in form_update.raison_updatewtf.errors %}
                    <div class="btn btn-warning">{{ error }}</div>
                {% endfor %}
                <div class="text-right">
                    <button type="submit" class="btn btn-info">Mettre à jour</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
$(document).ready(function() {
    $('#personne_wtf').change(function() {
        var personneId = $(this).val();
        $.ajax({
            url: "{{ url_for('charger_cours_annulation') }}",
            method: "GET",
            data: { personne_id: personneId },
            success: function(cours) {
                var select = $('#cours_wtf');
                select.empty();
                if (cours.length > 0) {
                    cours.forEach(function(course) {
                        select.append($('<option>', {
                            value: course.id,
                            text: course.titre
                        }));
                    });
                } else {
                    select.append($('<option>').attr('value', '').text('Aucun cours disponible'));
                }
            },
            error: function(xhr, status, error) {
                console.log("Erreur lors du chargement des cours : " + error);
                var select = $('#cours_wtf');
                select.append($('<option>').attr('value', '').text('Erreur de chargement'));
            }
        });
    });

    // Déclencher l'événement change au chargement de la page pour initialiser les valeurs
    $('#personne_wtf').trigger('change');
});
</script>
{% endblock %}
