<footer class="mt-auto py-2 footer-user">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <a href="https://vogonselectriques.net" target="_blank">OM de l'autre côté du Module 164.</a>
                <br>
                <a href="{{ url_for('legal_mentions') }}" class="small">Mentions légales</a>
            </div>
            <div class="col-md-6 text-right">
                <span class="positive-message">"Chaque jour est une nouvelle opportunité pour apprendre et grandir."</span>
                <br>
                <span class="small">2024.06.06</span>
            </div>
        </div>
    </div>
</footer>
